
{
    # Global configuration
    admin off
}

# Reusable logging snippet
(logging) {
    log {
        output file /var/log/caddy/access.log {
            roll_size 10MB
            roll_keep 5
        }
    format json
    level INFO
    }
}

(security_headers) {
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        X-XSS-Protection "1; mode=block"
        Referrer-Policy strict-origin-when-cross-origin
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
}

(namecheap_ssl) {
    tls {
        dns namecheap {
        api_key {env.NAMECHEAP_API_KEY}
        user {env.NAMECHEAP_API_USER}
        client_ip {env.NAMECHEAP_CLIENT_IP}
        api_endpoint https://api.namecheap.com/xml.response
        }
        resolvers 1.1.1.1 1.0.0.1
    }
}

(porkbun_ssl) {
    tls {
        dns porkbun {
        api_key {env.PORKBUN_API_KEY}
        api_secret_key {env.PORKBUN_SECRET_KEY}
        }
        resolvers 1.1.1.1 1.0.0.1
    }
}

# Catch-all for undefined sites
* {
    import logging
    respond "YOU SHALL NOT PASS!" 403
}

# Wildcard domain configuration
*.domain.net {
    import logging
    import security_headers
    import namecheap_ssl
    import porkbun_ssl

    @app host app.domain.net
    handle @app {
        reverse_proxy 192.168.0.1:1234
    }

    # Handle other subdomains
    handle {
        respond "Not all who wander are lost" 404
    }
}